<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/adminLayout}">

<head>
    <!-- 페이지의 제목 설정 -->
    <title>탈퇴한 회원</title>

    <!-- 해당 페이지 고유 CSS 추가 -->
    <th:block layout:fragment="css">
        <link rel="stylesheet" th:href="@{/css/user-management.css}"/>
    </th:block>

    <!-- 해당 페이지 고유 스크립트 추가 -->
    <th:block layout:fragment="script">
        <script th:inline="javascript">
            window.users = /*[[${users}]]*/ [];
        </script>
        <script th:src="@{/js/user-management.js}"></script>
        <script>
            $(document).ready(function() {
                // 삭제 버튼 
                $('body').off('click', '.withdrawn_delete_btn').on('click', '.withdrawn_delete_btn', function(event) {
                    event.stopPropagation(); // 이벤트 버블링 중단
                    const row = $(this).closest('tr');
                    const nickname = row.find('td:nth-child(4)').text();
                    // 삭제 확인 알림
                    let confirmationMessage = nickname + "님의 계정을 정말 삭제시키시겠습니까?";
    
                    if (!window.confirm(confirmationMessage)) {
                        return;
                    }

                    // ajax 회원 정보 삭제 post 요청
                    $.ajax({
                        url: "/api/remove-user",
                        type: "POST",
                        contentType: "application/json",
                        data: JSON.stringify({ userNum: userNum }),
                        success: function(response) {
                            alert(nickname + "님의 계정이 삭제되었습니다.");
                            location.reload();
                        },
                        error: function(xhr, status, error) {
                            alert("회원 삭제 중 오류가 발생했습니다. 상태: " + status + ", 응답: " + xhr.responseText);
                        }
                    });
                });
            });
        </script>
    </th:block>
</head>

<body data-page-type="withdrawnUserManagement">
    <!-- Content -->
    <div layout:fragment="content" class="container">
        <!-- sidebar fragment 사용 -->
        <div th:replace="sidebar/privacy-admin :: userManagementSidebar"></div>
        <div class="content">
            <h2>탈퇴 회원 관리</h2>
            <div>🔴<span style="font-style: italic; color: #b81426;"> : 탈퇴한지 1년이 지나 개인정보 보유 기간이 만료된 회원입니다.<span></div>
            <table>
                <div class="table-top-wrapper">
                    <select id="itemsPerPageSelect">
                        <option value="10">10개로 보기</option>
                        <option value="25">25개로 보기</option>
                        <option value="50">50개로 보기</option>
                        <option value="100">100개로 보기</option>
                    </select>
                    <span>탈퇴 회원 전체 리스트 : <span th:text="${users.size()}" style="color: #0d6a76;"></span>명</span></span>
                    <div class="table-search-area">
                        검색 : <input>
                    </div>
                </div>
                <thead>
                    <tr>
                        <th>회원 번호 <button type="button" class="sort_btn"></button></th>
                        <th>아이디 <button type="button" class="sort_btn"></button></th>
                        <th>이름 <button type="button" class="sort_btn"></button></th>
                        <th>닉네임 <button type="button" class="sort_btn"></button></th>
                        <th>탈퇴일 <button type="button" class="sort_btn"></button></th>
                        <th>탈퇴 이유<button type="button" class="sort_btn"></button></th>
                        <th>회원 삭제</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="withdrawnUser : ${withdrawnUsers}">
                        <td th:text="${withdrawnUser.user_num}"></td>
                        <td th:text="${withdrawnUser.id}"></td>
                        <td th:text="${withdrawnUser.name}"></td>
                        <td th:text="${withdrawnUser.nickname}"></td>
                        <td th:text="${#dates.format(withdrawnUser.deleted_at, 'yyyy-MM-dd')}"></td>
                        <td th:text="${withdrawnUser.deleted_reason}"></td>
                    </tr>
                </tbody>
            </table>
            <div class="paging-area">
                <div id="displayRange">
                    <span id="">총 <b><span id="usersLength" th:text="${users.size()}"></b></span>개 항목 중 <b><span id="startRange">1</span></b> ~ <b><span id="endRange">10</span></b>번 항목까지 표시 중입니다.</span>
                </div>
                <div class="pagination">
                    <button id="previousPageButton"></button>
                    <!-- <span>페이지 : <span id="currentPageDisplay"></span> / <span id="totalPagesDisplay"></span></span> -->
                    <span id="pageNumberContainer"></span>
                    <button id="nextPageButton"></button>
                </div>
            </div>
        </div>
    </div>
    
</body>
</html>
