<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update Event</title>
</head>
<body>
    <h2></h2> 
    <a th:href="@{/event/listEvents.do}" class="button">다음</a>  
     
    <style> 
        .button {
            display: inline-block;
            padding: 5px 20px;
            background-color: #888888;
            color: white;
            text-decoration: none;
            border: none;
            cursor: pointer;
            border-radius: 5px;
            margin-top: 10px;
        }
    </style> 
</body> 
</html> 