<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, maximum-scale=1.0, minimum-scale=1, user-scalable=yes,initial-scale=1.0" />
    <title layout:title-pattern="$LAYOUT_TITLE - $CONTENT_TITLE">애니플랜트</title>
    <link rel="stylesheet" th:href="@{/css/layout.css}"/>
    <link rel="stylesheet" th:href="@{/css/nav.css}"/>
    <link rel="stylesheet" th:href="@{/css/search.css}"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script th:src="@{/js/layout.js}"></script>
    <script th:src="@{/js/search.js}"></script>
    <!-- content style -->
    <th:block layout:fragment="css"></th:block>
    <!-- content script -->
    <th:block layout:fragment="script"></th:block>
</head>
<body>
    <!-- navAdminFragment 사용 -->
    <th:block th:replace="fragments/nav :: navAdminFragment"></th:block>
    <!-- header fragment 사용 -->
    <th:block th:replace="fragments/header :: headerFragment"></th:block>
    <!-- nav fragment 사용 -->
    <th:block th:replace="fragments/nav :: navFragment"></th:block>
    <!-- content fragment 사용 -->
    <th:block layout:fragment="content"></th:block>
    <!-- footer fragment 사용 -->
    <th:block th:replace="fragments/footer :: footerFragment"></th:block>
</body>
</html>
