<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml"
xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
layout:decorate="~{layout/defaultLayout}">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>게시글 수정</title>
</head>

<!-- 해당 페이지 고유 CSS 추가 -->
<th:block layout:fragment="css">
	<link rel="stylesheet" th:href="@{/css/board.css}" >
</th:block>

<!-- 해당 페이지 고유 스크립트 추가 -->
<th:block layout:fragment="script"> 
</th:block>

<body>
  <!-- Content -->
<div layout:fragment="content" class="container">
  <!-- sidebar fragment 사용 -->
  <div th:replace="sidebar/article :: articleSidebar"></div>
  
  <div class="content">
    <div class="h2-wrapper"><h2>게시글 수정</h2></div>
    <form id="articleForm" name="articleForm" th:action="@{'/edit/' + ${board.post_num}}" th:object="${board}" method="post">
        <table align="left">
            <tr>
                <td align="left">제 목 </td>
                <td colspan="2" ><input type="text" size="50" maxlength="60" th:field="*{title}" /></td>
            </tr>
            <tr>
                <td align="left" valign="top"><br>내 용 </td>
                <td colspan="2"><textarea name="content" rows="10" cols="65" maxlength="4000" th:field="*{content}"></textarea> </td>
            </tr>
            <tr>
                <td align="left"> </td>
                <td colspan="2">
                	<input type="reset" class="article-register-btn" value="초기화"/>
                  	<!-- 생성 유저 번호 입력을 위해 숨겨진 필드  -->
					<input type="hidden" id="createdUserNum" name="created_user_num" th:value="${#authentication.principal.usernum}">
					<button type="submit" class="article-register-btn" onclick="return confirm('게시글을 수정하시겠습니까?')">수정</button>
                </td>
            </tr>
        </table>
    </form>
  </div>
</div>
</body>
</html>